n8n/workflows/n8n_video_pipeline.json
{
  "name": "RapidGig Video Generation Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rapidgig-video",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "rapidgig-video-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"message\": \"queued\", \"job_id\": $json.job_id } }}",
        "options": {}
      },
      "id": "respond-immediately",
      "name": "Respond immediately",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.GROQ_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=",
              "value": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', max_tokens: 120, temperature: 0.7, messages: [{ role: 'system', content: 'You convert job descriptions into cinematic video prompts. Output ONLY the prompt, no explanation, no quotes.' }, { role: 'user', content: 'Convert this job description into a cinematic video prompt (2 sentences max, visuals only, professional mood): \"' + $json.job_description.slice(0, 500) + '\"' }] }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "groq-prompt",
      "name": "Groq: Generate video prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 380]
    },
    {
      "parameters": {
        "jsCode": "const groqResponse = $input.first().json;\nconst videoPrompt = groqResponse.choices[0]?.message?.content?.trim() || $('Webhook Trigger').first().json.job_description;\nconst webhookData = $('Webhook Trigger').first().json;\n\nreturn [{\n  json: {\n    video_prompt: videoPrompt,\n    job_id: webhookData.job_id,\n    user_id: webhookData.user_id,\n    title: webhookData.title || 'AI Generated Short',\n    description: webhookData.description || webhookData.job_description,\n    callback_url: webhookData.callback_url,\n  }\n}];"
      },
      "id": "set-prompt",
      "name": "Set video prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MODAL_ENDPOINT || $env.HELIOS_SERVICE_URL + '/generate' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ prompt: $json.video_prompt, num_frames: 73, height: 384, width: 640, job_id: $json.job_id }) }}",
        "options": {
          "timeout": 660000
        }
      },
      "id": "call-video-model",
      "name": "Call video model (Modal/Helios)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "check-video-url",
              "leftValue": "={{ $json.video_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Video generated?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set video prompt').first().json.callback_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ job_id: $('Set video prompt').first().json.job_id, status: 'completed', video_url: $json.video_url, user_id: $('Set video prompt').first().json.user_id, title: $('Set video prompt').first().json.title, description: $('Set video prompt').first().json.description, provider: 'n8n-modal' }) }}",
        "options": {}
      },
      "id": "callback-success",
      "name": "Callback: success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set video prompt').first().json.callback_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ job_id: $('Set video prompt').first().json.job_id, status: 'failed', error: 'Video model returned no URL', provider: 'n8n-modal' }) }}",
        "options": {}
      },
      "id": "callback-failure",
      "name": "Callback: failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Respond immediately", "type": "main", "index": 0 },
          { "node": "Groq: Generate video prompt", "type": "main", "index": 0 }
        ]
      ]
    },
    "Groq: Generate video prompt": {
      "main": [
        [{ "node": "Set video prompt", "type": "main", "index": 0 }]
      ]
    },
    "Set video prompt": {
      "main": [
        [{ "node": "Call video model (Modal/Helios)", "type": "main", "index": 0 }]
      ]
    },
    "Call video model (Modal/Helios)": {
      "main": [
        [{ "node": "Video generated?", "type": "main", "index": 0 }]
      ]
    },
    "Video generated?": {
      "main": [
        [{ "node": "Callback: success", "type": "main", "index": 0 }],
        [{ "node": "Callback: failure", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}
